
	<div class="row">
		<% products.forEach((entry) => { %>
		<div class="col-lg-4">
			<img class="thumbnail" src="/images/<%= entry.image %>">
			<div class="box-element product">
				<h6><strong><%= entry.name %></strong></h6>
				<hr>

				<button data-product="{{<%= entry.id %>}}" class="btn btn-outline-secondary add-btn update-cart" data-action="add">Add to Cart</button>
				<h4 style="display: inline-block; float: right"><strong>$ <%= entry.price %></strong></h4>
			</div>
		</div>
		<% }) %>
	</div>